# Skompilowane pliki klasy
*.class

# Ustawienia dla różnych narzędzi
/.idea
*.iml
*.ipr
*.iws

# Katalogi dla narzędzi budowania
/target
/out
/build

# Katalogi dla systemu kontroli wersji
.svn

# Pliki dla systemu kontroli wersji
.vagrant

# Pakiety OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Pliki logów
*.log

# Pliki tymczasowe
*.tmp
*.bak
*.swp
*~.nib

# Inne pliki
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi

# Pliki dla pakietów Java
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Wykluczone katalogi
/bin/
/target/
/.mvn/
/.idea/
*.iml
*.iws
